.curriculum .wrapper {
    margin-top: 36px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.curriculum .wrapper .curriculum-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
    flex-shrink: 0;
}

.curriculum .wrapper .curriculum-container .curriculum-item {
    width: 253px;
    height: 256px;
    margin: 0 10px;
    background-color: white;
    border-radius: 6px;
    flex-basis: 0;
    flex-grow: 0;
    min-width: 253px;
}
.curriculum .wrapper .curriculum-container .curriculum-item .curriculum-item-body {
    height: 180px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.curriculum .wrapper .curriculum-container .curriculum-item .curriculum-item-body img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.curriculum .wrapper .curriculum-container .curriculum-item .curriculum-item-footer {
    height: 74px;
    padding: 12px 16px 16px 16px;
}
.curriculum .wrapper .curriculum-container .curriculum-item .curriculum-item-footer .en {
    font-size: 20px;
    font-weight: 600;
}
.curriculum .wrapper .curriculum-container .curriculum-item .curriculum-item-footer .id {
    font-size: 16px;
    font-weight: 600;
    color: #505050;
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 600px) {
    
}

@media only screen and (max-width: 420px) {
    
}

.common-wrapper::-webkit-scrollbar {
    display: none;
}
.common-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}