.headline {
    height: 576px;

    color: white;
}
.headline .colored {
    height: 384px;
    padding: 0 120px;

    background-color: #0A0127;

    z-index: 0;
}
.headline .colored .content {
    z-index: 2;
}
.headline .colored h2 {
    width: 50%;
    margin-bottom: 8px;
    
    font-size: 48px;
    font-weight: 700;
}
.headline .colored p {
    width: 50%;

    font-size: 24px;
    font-weight: 600;
}
.headline .hero-img {
    position: absolute;
    right: 80;
    top: 100;
    z-index: 0;
}
.headline .hero-img img {
    z-index: 1;
}
.headline .hero-img img {
    width: 560px;
    height: 420px;
}


@media only screen and (max-width: 1024px) {
    .headline .colored {
        padding: 0 60px;
    }
    .headline .hero-img {
        right: 60px;
        top: 148px;
    }
    .headline .hero-img img {
        width: 480px;
        height: 360px;
    }
}


@media only screen and (max-width: 900px) {
    .headline .hero-img {
        right: 40px;
        top: 208px;
    }
    .headline .hero-img img {
        width: 480px;
        height: 360px;
    }
}


@media only screen and (max-width: 720px) {
    .headline .hero-img {
        right: 24px;
        top: 288px;
    }
    .headline .hero-img img {
        width: 360px;
        height: 270px;
    }
}


@media only screen and (max-width: 420px) {
    .headline {
        height: 480px;
    
        color: white;
    }
    .headline .colored {
        align-items: flex-start;
        height: 360px;
        padding: 80px 16px;
    }
    .headline .colored h2 {
        width: 100%;
        margin-bottom: 8px;
        
        font-size: 32px;
        font-weight: 700;
        line-height: 1.5;
    }
    .headline .colored p {
        width: 100%;
    
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
    }
    .headline .hero-img {
        right: 16px;
        top: 288px;
    }
    .headline .hero-img img {
        width: 240px;
        height: 180px;
    }
}